body {
    background-image: url('/Users/learnacademy/Desktop/preparedness-assessment-RodCato/preparedness-frontend/src/assets/background-image.jpeg');
    background-size: cover;
}
#btn-center {
    background-color: #0dcaf0;
    padding: 8px;
    margin: 10px
}
.entire-content {
    text-align: center; 
}
h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}  
#header{
    font-size: 50px;
}
.input {
    color: white;
    font-size: 35px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 6px 12px;
}
#name {
    font-size: 18px;
}

